<div class="c-header">
        <div class="container">
                <div class="row">
                        <div class="col-6">
                                <div class="c-header__search">
                                        <app-search *ngIf="!routeIsActive('/') && routeIsActive('/characters') || routeIsActive('/houses')" (search)="handleSearch($event)" ></app-search>
                                        <div *ngIf="!routeIsActive('/') && !routeIsActive('/characters') && !routeIsActive('/houses')">
                                                <a *ngIf="routeHowActive('/characters')" [routerLink]="['/characters']" >
                                                        <img src="../../../../assets/images/arrow_left.svg" alt="Volver" class="c-header__arrow-left">
                                                        <span class="c-header__return">Volver</span>
                                                </a>
                                                <a *ngIf="routeHowActive('/houses')" [routerLink]="['/houses']" >
                                                        <img src="../../../../assets/images/arrow_left.svg" alt="Volver" class="c-header__arrow-left">
                                                        <span class="c-header__return">Volver</span>
                                                </a>
                                        </div>
                                          
                                </div>
                        </div> 
                                
                
                        <div class="col-6">
                                <div class="c-header__backhomeflags">
                                        <a *ngIf="!routeIsActive('/')" [routerLink]="['/home']" routerLinkActive="router-link-active">
                                                <img src="../../../../assets/images/home.svg" alt="Volver al inicio"  class="c-header__home">
                                        </a>
                
                                        <app-translate-flags ></app-translate-flags>
                                </div>
                                
                        </div>
                </div> 
        </div>
</div>      


