.c-search{
    border-bottom: 1px solid #ffffff;
    width: 500px;
    &__input{
        border: none !important;
        background-color: transparent !important;
        height: 30px;
        width: 200px;
        color: #ffffff;
        font-size: 15px;
        :focus{
           outline: none !important;
        }
    }
}

.mat-form-field-label-wrapper{
    border-bottom: #ffffff 1px solid !important;
}