.c-translate-flags{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    &__item{
        width: 64px;
        height: 64px;
        object-fit: contain;
        cursor: pointer;
        padding: 1em;
    }
}