 <div class="o-main b-detail-character">
    <div class="container" *ngIf="character">
        <div class="b-detail-character__center">
            <figure class="b-detail-character__figure">
                <img class="b-detail-character__picture" src="{{ character.image }}" alt="{{character.name}}">
                <span class="b-detail-character__name b-detail-character__label">{{ character.name }}</span>
            </figure> 
        </div>
        <div class="b-detail-character__info">
        <div class="row">
            <div class="col-2" >   
                <div *ngIf="houseCharacter">
                    <span class=" b-detail-character__label">{{ 'detail-character.casa' | translate }}</span> 
                    <figure class="b-detail-character__figure--house">
                        <img class="b-detail-character__picture" src="{{ houseCharacter.logoURL}}" alt="{{character.name}}">
                    </figure>
                        
                </div>
            </div>
            <div class="col-2" >
                <span class="b-detail-character__label">{{ 'detail-character.alianza' | translate }}</span>    
                <div *ngFor="let alianza of character.allegiances">
                    {{alianza}}
                </div>
            </div>
            <div class="col-2" >
                <span class="b-detail-character__label">{{ 'detail-character.apariciones' | translate }}</span>    
                <ngx-simplebar class="b-detail-character__simplebar" >

                <div *ngFor="let aparicion of character.appearances">
                    {{aparicion}}
                </div>
                </ngx-simplebar>
            </div>
            <div class="col-2" >
                <span class="b-detail-character__label">{{ 'detail-character.padre' | translate }}</span>
                <div>
                    {{character.father}}
                </div> 
            </div>
            <div class="col-2" >
                <span class="b-detail-character__label">{{ 'detail-character.descendientes' | translate }}</span>
                <ngx-simplebar class="b-detail-character__simplebar" >
                <div *ngFor="let descendientes of character.siblings">
                    {{descendientes}}
                </div>     
            </ngx-simplebar>
            </div>
            <div class="col-2" >
                <span class="b-detail-character__label">{{ 'detail-character.titulos' | translate }}</span>
                <ngx-simplebar class="b-detail-character__simplebar" >
                    <div *ngFor="let titulos of character.titles">
                            {{titulos}}
                    </div>
                </ngx-simplebar>
            </div>
        </div>
    </div>        
                
    </div>
</div>


