@font-face{
    font-family: "GameofThrones";
    src: url("././assets/fonts/Game_of_Thrones.ttf");
}
body{
    margin: 0;
    color: #ffffff;
    background-color: #000000;
}
.mat-form-field-label-wrapper{
    border-bottom: #ffffff 1px solid !important;
}

