<div class="c-navbar">
<div class="container">
    <div class="c-navbar__content">
    <a [routerLink]="['/characters']" routerLinkActive="router-link-active"  class="c-navbar__item"> 
        <span>{{ 'navbar.item-1' | translate }}</span>
    </a>
    <a [routerLink]="['/houses']" routerLinkActive="router-link-active"  class="c-navbar__item">
        <span>{{ 'navbar.item-2' | translate }}</span>
    </a>
    <a [routerLink]="['/chronology']" routerLinkActive="router-link-active"  class="c-navbar__item">
        <span>{{ 'navbar.item-3' | translate }}</span>
    </a>
</div>
</div>
</div>