//Bloque central en Personajes, Casas y Cronologia
.o-main{
    height: calc(100vh - 150px);
    margin-top: 80px;

}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
    display: none !important;
    
    &__:before{
        background-color: transparent;
    }
    
}
.simplebar-track.simple-vertical{
    visibility: visible;
}
.simplebar-scrollbar{
    background-color: white !important;
    width: 1px !important;
    &::before{
        background-color: white;
    }
}
