.c-home{
    background: url('../../../assets/images/trono-inicio.png') no-repeat top;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    &__title{
        text-transform: uppercase;
        width: 1367px;
        height: 390px;
        font-family: GameofThrones;
        font-size: 176px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        text-align: center;
    }
  

    
}
